# In This project , I am analyzing policing activity from a  dataset (https://openpolicing.stanford.edu/)  and analyze the impact of different factors  on police behavior

In [2]:
import pandas as pd 
ri = pd.read_csv('police.csv')
ri.head(3)

,state,stop_date,stop_time,county_name,driver_gender,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop,district
0,RI,2005-01-04,12:55,NaN,M,White,Equipment/Inspection Violation,Equipment,False,NaN,Citation,False,0-15 Min,False,Zone X4
1,RI,2005-01-23,23:15,NaN,M,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,Zone K3
2,RI,2005-02-17,04:15,NaN,M,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,Zone X4

In [3]:
ri.isnull() # looking for missing data

,state,stop_date,stop_time,county_name,driver_gender,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop,district
0,False,False,False,True,False,False,False,False,False,True,False,False,False,False,False
1,False,False,False,True,False,False,False,False,False,True,False,False,False,False,False
2,False,False,False,True,False,False,False,False,False,True,False,False,False,False,False
3,False,False,False,True,False,False,False,False,False,True,False,False,False,False,False
4,False,False,False,True,False,False,False,False,False,True,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91736,False,False,False,True,False,False,False,False,False,True,False,False,False,False,False
91737,False,False,False,True,False,False,False,False,False,True,False,False,False,False,False
91738,False,False,False,True,False,False,False,False,False,True,False,False,False,False,False
91739,False,False,False,True,False,False,False,False,False,True,False,False,False,False,False
91740,False,False,False,True,False,False,False,False,False,True,False,False,False,False,False

In [4]:
ri.isnull().sum() # Comapring missing data with the total number of rows of data set

state                     0
stop_date                 0
stop_time                 0
county_name           91741
driver_gender          5205
driver_race            5202
violation_raw          5202
violation              5202
search_conducted          0
search_type           88434
stop_outcome           5202
is_arrested            5202
stop_duration          5202
drugs_related_stop        0
district                  0
dtype: int64

In [5]:
ri.shape

(91741, 15)

In [6]:
ri.drop(['county_name', 'state'], axis = 'columns', inplace =True) # dropping complete "COUNTY_NAME" column

In [7]:
ri.head()

,stop_date,stop_time,driver_gender,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop,district
0,2005-01-04,12:55,M,White,Equipment/Inspection Violation,Equipment,False,NaN,Citation,False,0-15 Min,False,Zone X4
1,2005-01-23,23:15,M,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,Zone K3
2,2005-02-17,04:15,M,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,Zone X4
3,2005-02-20,17:15,M,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False,Zone X1
4,2005-02-24,01:20,F,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,Zone X3

In [8]:
ri.dropna(subset=['stop_date', 'stop_time'], inplace =True) # droppong rows with 'NA or missing data'

In [9]:
ri.head()

,stop_date,stop_time,driver_gender,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop,district
0,2005-01-04,12:55,M,White,Equipment/Inspection Violation,Equipment,False,NaN,Citation,False,0-15 Min,False,Zone X4
1,2005-01-23,23:15,M,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,Zone K3
2,2005-02-17,04:15,M,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,Zone X4
3,2005-02-20,17:15,M,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False,Zone X1
4,2005-02-24,01:20,F,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,Zone X3

In [10]:
ri.shape

(91741, 13)

In [11]:
ri.columns

Index(['stop_date', 'stop_time', 'driver_gender', 'driver_race',
       'violation_raw', 'violation', 'search_conducted', 'search_type',
       'stop_outcome', 'is_arrested', 'stop_duration', 'drugs_related_stop',
       'district'],
      dtype='object')

In [14]:
# Convert the improper data Types
ri.dtypes

stop_date             object
stop_time             object
driver_gender         object
driver_race           object
violation_raw         object
violation             object
search_conducted        bool
search_type           object
stop_outcome          object
is_arrested           object
stop_duration         object
drugs_related_stop      bool
district              object
dtype: object

In [16]:
ri.isna()

,stop_date,stop_time,driver_gender,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop,district
0,False,False,False,False,False,False,False,True,False,False,False,False,False
1,False,False,False,False,False,False,False,True,False,False,False,False,False
2,False,False,False,False,False,False,False,True,False,False,False,False,False
3,False,False,False,False,False,False,False,True,False,False,False,False,False
4,False,False,False,False,False,False,False,True,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
91736,False,False,False,False,False,False,False,True,False,False,False,False,False
91737,False,False,False,False,False,False,False,True,False,False,False,False,False
91738,False,False,False,False,False,False,False,True,False,False,False,False,False
91739,False,False,False,False,False,False,False,True,False,False,False,False,False
91740,False,False,False,False,False,False,False,True,False,False,False,False,False

In [17]:
ri.isna

<bound method DataFrame.isna of         stop_date stop_time driver_gender driver_race  \
0      2005-01-04     12:55             M       White
1      2005-01-23     23:15             M       White
2      2005-02-17     04:15             M       White
3      2005-02-20     17:15             M       White
4      2005-02-24     01:20             F       White
...           ...       ...           ...         ...
91736  2015-12-31     21:21             F       Black
91737  2015-12-31     21:59             F       White
91738  2015-12-31     22:04             M       White
91739  2015-12-31     22:09             F    Hispanic
91740  2015-12-31     22:47             M       White

                        violation_raw            violation  search_conducted  \
0      Equipment/Inspection Violation            Equipment             False
1                            Speeding             Speeding             False
2                            Speeding             Speeding             False
3                    Call for Service                Other             False
4                            Speeding             Speeding             False
...                               ...                  ...               ...
91736         Other Traffic Violation     Moving violation             False
91737                        Speeding             Speeding             False
91738         Other Traffic Violation     Moving violation             False
91739  Equipment/Inspection Violation            Equipment             False
91740          Registration Violation  Registration/plates             False

      search_type   stop_outcome is_arrested stop_duration  \
0             NaN       Citation       False      0-15 Min
1             NaN       Citation       False      0-15 Min
2             NaN       Citation       False      0-15 Min
3             NaN  Arrest Driver        True     16-30 Min
4             NaN       Citation       False      0-15 Min
...           ...            ...         ...           ...
91736         NaN       Citation       False      0-15 Min
91737         NaN       Citation       False      0-15 Min
91738         NaN       Citation       False      0-15 Min
91739         NaN        Warning       False      0-15 Min
91740         NaN       Citation       False      0-15 Min

       drugs_related_stop district
0                   False  Zone X4
1                   False  Zone K3
2                   False  Zone X4
3                   False  Zone X1
4                   False  Zone X3
...                   ...      ...
91736               False  Zone K2
91737               False  Zone K3
91738               False  Zone X3
91739               False  Zone K3
91740               False  Zone X4

[91741 rows x 13 columns]>